@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.form {
  font-family: 'NanumSquare';
  width: 1290px;
  height: 800px;
  margin: 60px auto;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 30px 30px 10px rgb(155, 155, 155);
  background-color: #fff;
}

.form .title_box {
  margin: 40px 0;
  text-align: center;
}

.form .sign_wrap .form_box {
  margin-left: 349px;
}

.form .sign_wrap {
  width: 1000px;
  margin: 0 auto;
}

.form .common input {
  width: 275px;
}

.form .common fieldset {
  border-radius: 10px;
  width: 275px;
}

.form .id_box,
.form .password_box,
.form .passwordconfirm_box,
.form .email_box,
.form .phone_box {
  margin-bottom: 20px;
  text-align: left;
}

.form .select_box .select fieldset {
  border-radius: 10px;
}

.form .email_box .email {
  margin-right: 10px;
}

.form .email_box .email input {
  width: 100px;
}

.form .email_box .email fieldset {
  border-radius: 10px;
}

.form .email_box .emailaddress input {
  width: 200px;
}

.form .email_box .emailaddress fieldset,
.form .email_box .email_right fieldset {
  width: 200px;
  border-radius: 10px;
}

.form .Message {
  font-size: 14px;
  margin: 20px 0;
  color: red;
}

.form .email_box .emali_button,
.form .id_box .id_button {
  width: 100px;
  height: 56px;
  border-radius: 10px;
  background-color: #0f4c81;
  color: #fff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.form .button_box {
  text-align: center;
}

.form .button_box button {
  width: 303px;
  height: 56px;
  border-radius: 10px;
  background-color: #0f4c81;
  color: #fff;
  border: 1px solid #efefef;
  cursor: pointer;
  margin-bottom: 20px;
}

.form .button_box button:disabled,
.form .id_box button:disabled,
.form .email_box button:disabled {
  opacity: 0.3;
}

.select_box {
  margin-bottom: 20px;
}

.select_box .select {
  width: 200px;
}

.link_login {
  text-align: center;
}

.address_confirm {
  margin-bottom: 20px;
}

/* mui css */

label.Mui-focused {
  font-family: 'NanumSquare';
  color: #0f4c81 !important;
}
.Mui-focused fieldset {
  border-color: #0f4c81 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'NanumSquare' !important;
}
