html {
  background-color: #edeef0;
}

.content {
  width: 1290px;
  height: 880px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 30px 30px 40px gray;
  display: flex;
}

.content-r {
  width: 780px;
  height: 100%;
  border-right: 1px solid #c9c9c9;
}
.content-l {
  width: 510px;
  height: 100%;
}

/* login_l */
.big h2 {
  font-size: 36px;
  color: #0f4c81;
  font-weight: 200;
}
